.row {
  margin: 1.5rem 0 0 14rem;
  display: flex;
}

img {
  padding:1px;
  border:1px solid #021a40;
  display: block;
  width: 70%;
  height: auto;
}

button {
  margin-left: 19rem;
}