div {
    font-family: 'Lacquer', sans-serif;
}

img {
    padding: 0.8rem;
    border: 0;
    width: 20%;
    height: 20%;
}

h4 {
    float: right;
    width: 300px;
    text-align: center;
    margin-right: 39rem;
    margin-top: -6rem;
}

h1 {
    float: right;
    width: 300px;
    text-align: center;
    margin-top: -85rem;
    margin-right: 5rem;
}